.recent-booking-person-image {
  width: 40px;
  height: 40px;
}
button {
  border: 0px;
  background-color: transparent;
}
thead th {
  font-weight: 500;
}
/* thead th, */
.time,
.date,
.name,
.service_type,
.date,
.phoneno {
  color: #6174a5 !important;
}
.time {
  font-weight: 600;
}
.name {
  font-weight: 600;
}
.email {
  font-weight: 400;
  color: #a3afcf;
}
/* .frame {
  width: 85vw !important;
} */

.recent-booking-head i {
  color: #6174a5;
  font-size: 25px;
}
.recent-booking-head h2 {
  font-weight: 600;
  color: #6174a5 !important;
  font-size: 22px;
}
.recent-booking-head {
  background-color: white;
  padding: 20px 0px 5px 10px;
  border-radius: 20px 20px 0px 0px;
}
/* .main-wrapper {
  margin: 20px;
} */

.action {
  text-align: center;
}
.paid,
.pending,
.failed,
.StartEvaluation,
.action-select-plan,
.StartPrescription,
.action-view-eval {
  border-radius: 10px;
  width: fit-content;
  height: 30px;
  text-transform: uppercase;
  padding: 4px 10px;
  color: white;
  word-spacing: 1px;
  font-weight: 300;
}

tbody {
  background-color: transparent;
}
.action-view-eval {
  border-radius: 8.622px;
  background: #5122ce;
  width: 150px;
  height: 34px !important;
  padding: 6px 5px;
  text-transform: capitalize;
}
.action-select-plan {
  height: 34px !important;
  padding: 6px 5px;
  text-transform: capitalize;
  border-radius: 8.622px;
  background: #42cc7d;
  width: 150px !important;
}
.main-wrapper table tbody tr:hover + tr {
  background-color: rgb(28, 14, 68, 0.2) !important;
  color: white !important;
}
.main-wrapper table thead tr th {
  text-transform: uppercase;
  background: rgb(28, 14, 68, 0.9) !important;
  color: rgb(255, 255, 255) !important;
  padding: 0 !important;
  padding: 10px !important;
}
.main-wrapper table {
  text-align: center;
}
.StartPrescription {
  height: 38px !important;
}

/* { */
.StartEvaluation,
.StartPrescription {
  height: fit-content;
  padding: 6px 10px;
  background-color: #42cc7d;
  text-transform: capitalize !important;
}
.paid {
  background: rgba(66, 204, 125, 0.75);
}
.pending {
  background: rgba(242, 167, 59, 0.75);
}
.failed {
  background: rgba(234, 51, 75, 0.75);
}
.table-div-booking .dropdown-toggle,
.table-div-booking .dropdown-toggle:hover,
.table-div-booking .show > .btn-light.dropdown-toggle,
.table-div-booking .show > .btn-light.dropdown-toggle:focus,
.table-div .dropdown-toggle,
.table-div .dropdown-toggle:hover,
.table-div .show > .btn-light.dropdown-toggle,
.table-div .show > .btn-light.dropdown-toggle:focus {
  background-color: transparent;
  color: white;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
}
.table-div-booking {
  overflow-y: scroll;
  width: 100%;
}
.table-div-booking .react-datepicker-wrapper {
  /* display: none; */
}
.table-div-booking .dropdown-toggle::after {
  display: none;
}
.dropdown-toggle,
.dropdown-toggle:hover {
  background-color: transparent;
  color: #6174a5;
  border: 1px solid #a3afcf;
  border-radius: 10px;
}
.frame {
  width: 90%;
  margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  border-radius: 20px 20px 0px 0px;
  height: 80vh;
}
/* niranjan laptpo */
@media screen and (min-width: 1901px) {
  .pag-cont {
    width: 80% !important;
    margin: auto;
    margin-top: 30px;
    padding: 20px 0px;
  }
  .frame {
    width: 80%;
    margin: auto;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border-radius: 20px 20px 0px 0px;
    height: 80vh;
  }
  .buttons-cont {
    width: 80% !important;
  }
  .search-bar {
    width: 30% !important;
  }
}
.no-details {
  /* display: flex; */
  font-size: 25px;
  font-weight: 700;
  position: relative;

  /* background-color: white;
  text-align: center;
  margin: auto;  */
  top: 10px !important;

  /* width: inherit; */
}
.main-wrapper {
  width: 100%;
  /* height: 100vh; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
/* .evaluation-buttons-cont {
  width: 90%;
  margin: auto;

} */
.name-email-image-cont {
  display: flex;
  text-align: start !important;
}
.recent-bookings-cont tr td {
  /* height: 13px !important; */
}
.recent-bookings-cont tr td {
  background-color: #f2f8fc !important;
}

.recent-booking-head .search-bar .form-control {
  width: fit-content !important;
}
.pagination {
  width: fit-content;
}
.pag-cont {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 10px 0px;
  background-color: white;
}
.page-link {
  border: 0px;
}
.page-item.active .page-link {
  border-radius: 10px;
  background-color: #6174a5;
}
.page-link {
  color: #6174a5;
  min-width: 30px;
  min-height: 30px;
}
@media only screen and (max-width: 600px) {
  .frame {
    width: 90vw !important;
    margin: auto;

    /* height: 600px; */
  }
  .buttons-cont {
    height: 60px !important;
  }
  .table-div {
    overflow-x: scroll;
    height: calc(80vh - 60px) !important;
  }
  .table-div-booking {
    overflow-x: scroll;
    height: 80vh !important;
  }
  .search-bar {
    display: none;
  }
  .recent-bookings-cont {
    /* height: 90vh !important; */
    /* overflow-y: scroll; */
    overflow-x: scroll !important;
    font-size: 12px;
  }
  .StartEvaluation {
    height: fit-content !important;
    width: fit-content !important;
    text-align: center;
    text-transform: uppercase !important;
    font-weight: 800;
  }

  /* .recent-booking-head {
    position: fixed;
    width: 90vw;
    height: 80px !important;
  } */
  .booking-presc {
    margin-top: 0px !important;
  }
  .evaluation-buttons-cont {
    margin-top: 10px !important;
  }

  .recent-booking-head h2 {
    font-size: 20px;
    font-weight: 900;
  }
  .recent-booking-person-image {
    display: none;
  }
  .name {
    font-size: 14px;
  }
  .email {
    font-size: 13px;
  }
  .name-email-image-cont {
    display: table-cell !important;
  }
  th {
    width: 200px;
  }
}
